{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/detail_style.css' %}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали продукта</title>

</head>
<body>
    <header>
        <div>
           <a href="{% url 'home:home' %}"> <strong>Food Delivery</strong></a>
        </div>
        <div class="cart-info">
            <a href="{% url 'home:cart' %}">
                Корзина 
                {% if cart_item_count > 0 %}
                    <span class="cart-count">{{ cart_item_count }}</span>
                    {% endif %}
            </a>
            {% if user.is_authenticated %}
                Привет, {{ user.username }}!
                <a href="{% url 'account:logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'account:login' %}">Вход</a>
                <a href="{% url 'account:register' %}">Регистрация</a>
            {% endif %}
        </div>
    </header>

    <div class="container">
        <div class="product-detail">
            <div class="product-image">
                <img src="{{ food.image.url }}" alt="{{ food.name }}">
            </div>
            <div class="product-info">
                <h1>{{ food.name }}</h1>
                <p class="categories">
                    Категории: 
                    {% for category in food.category.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Описание: {{ food.description }}</p>
                <p>Состав: {{food.compound}}</p>
                <p>Калории: {{ food.calories }} ккал</p>
                <p class="price">Цена: {{ food.price }} ₽</p>
                <div class="actions">
                    <a href="{% url 'home:add_cart' food.pk %}">Добавить в корзину</a>
                    <a href="{% url 'home:home' %}">Вернуться на главную страницу</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2024 Food Delivery. Все права защищены.
    </footer>
</body>
</html>
