{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
           <a href="{% url 'home:home' %}"> <strong>Food Delivery</strong></a>
        </div>
        <div class="cart-info">
            <a href="{% url 'home:cart' %}">
                Корзина 
                {% if cart_item_count > 0 %}
                    <span class="cart-count">{{ cart_item_count }}</span>
                    {% endif %}
            </a>
            {% if user.is_authenticated %}
                Привет, {{ user.username }}!
                <a href="{% url 'account:logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'account:login' %}">Вход</a>
                <a href="{% url 'account:register' %}">Регистрация</a>
            {% endif %}
        </div>
    </header>

    <div class="container">
        <h1>Наша продукция</h1>
        <div class="product-list">
            {% for food in foods %}
            <a href="{% url 'home:detail' food.pk %}" style="outline: none;">
            <div class="product-card">
                <img src="{{ food.image.url }}" alt="{{ food.name }}">
                <h3>{{ food.name }}</h3>
                <p>Цена: {{ food.price }} ₽</p>
                <p>Калории: {{ food.calories }} ккал</p>
                <p>{{ food.description }}</p>
                <a href="{% url 'home:add_cart' food.pk %}" class="link">Добавить в корзину</a>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Предыдущая</a>
        {% endif %}
    
        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Следующая</a>
        {% endif %}
    </div>
    
    
    <footer>
        &copy; 2024 Food Delivery. Все права защищены.
    </footer>
</body>
</html>